# Imports.

import(copula)
import(vines)
import(mvtnorm)


# Classes and generic functions.

exportClasses(EDA)
exportClasses(CEDA)
exportClasses(VEDA)

exportClasses(EDAResult, EDAResults)

exportMethods(edaSeed)
exportMethods(edaSelect)
exportMethods(edaLearn)
exportMethods(edaSample)
exportMethods(edaReplace)
exportMethods(edaOptimize)
exportMethods(edaTerminate)
exportMethods(edaReport)

exportMethods(show, summary)


# Exported functions.

export(CEDA)
export(VEDA)
export(edaRun)
export(edaIndepRuns)
export(edaCriticalPopSize)

exportPattern("^edaSeed[A-Z]")
exportPattern("^edaSelect[A-Z]")
exportPattern("^edaLearn[A-Z]")
exportPattern("^edaSample[A-Z]")
exportPattern("^edaRepair[A-Z]")
exportPattern("^edaReplace[A-Z]")
exportPattern("^edaOptimize[A-Z]")
exportPattern("^edaTerminate[A-Z]")
exportPattern("^edaReport[A-Z]")

exportPattern("^f[A-Z]") # Benchmark problems.
exportPattern("^[fpq][a-z]") # Marginal distributions.
