# Imports

import(mvtnorm)
import(copula)


# Classes and generic functions

exportClasses(EDA)
exportClasses(UMDA)
exportClasses(EMNA, EMNAg, EMNAa, EMNAi)
exportClasses(CEDA)

exportClasses(EDAResult, EDATracedResult)

exportMethods(seeding)
exportMethods(selection)
exportMethods(learning)
exportMethods(sampling)
exportMethods(repairing)
exportMethods(replacement)
exportMethods(optimization)
exportMethods(termination)
exportMethods(reporting)
exportMethods(run)

exportMethods(show, summary)


# Exported functions

export(UMDA)
export(EMNAg, EMNAa, EMNAi)
export(CEDA)

exportPattern("^run[A-Z]")
exportPattern("^seeding[A-Z]")
exportPattern("^selection[A-Z]")
exportPattern("^learning[A-Z]")
exportPattern("^sampling[A-Z]")
exportPattern("^repairing[A-Z]")
exportPattern("^replacement[A-Z]")
exportPattern("^optimization[A-Z]")
exportPattern("^termination[A-Z]")
exportPattern("^reporting[A-Z]")

exportPattern("^f[A-Z]") # Objective functions.
exportPattern("^[fpq][a-z]") # Marginal distributions.
export(indepRuns)
export(minPopSize)
